/* @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap'); */


/* font-family: 'Festive', cursive; */


/* @import url('https://fonts.googleapis.com/css2?family=Festive&family=Zen+Loop&display=swap'); */


/* font-family: 'Zen Loop', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Noto+Serif&family=Shadows+Into+Light&family=Zen+Loop&display=swap');

/* font-family: 'Festive', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Zen Loop', cursive; */

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}


/*common css end*/

#navigation .navbar-brand {
    font-family: 'Festive', cursive !important;
    font-weight: 700;
    font-size: 30px;
    color: rgb(0, 0, 121);
}

#navigation ul li a {
    font-family: 'Noto Serif', serif !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: #000 !important;
    display: inline-block;
    margin-left: 20px;
    transition: all linear 0.3s;
    border-radius: 10px;
}

#navigation ul li a:hover {
    color: blue;
    background-color: rgb(137, 163, 219);
}

#banner img {
    width: 100%;
    height: 550px;
}

#about img {
    border-radius: 20px;
}

#about h2 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
    font-size: 30px;
    color: rgb(46, 10, 131);
}

#about p {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
    font-size: 18px;
    color: rgb(20, 20, 20);
    margin-top: 20px;
}